@{ ViewBag.Title = "Home Page"; }
<head>
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script type="text/javascript" src="~/Scripts/DestinationFromAndTo.js"></script>
    <script type="text/javascript" src="~/Scripts/Tickets.js"></script>
    <link rel="stylesheet" href="~/Stylesheet/MDRails.less" />
</head>

<div class="container-fluid">
    <form class="row" id="purchaseTicketForm">
        <div class="col-md-6 row">
            <h2>Hi Where do you want to travel ?</h2>

            <div class="dropdown col-md-12">
                <input type="text" name="DestinationFrom" class="from-dropdown form-control" placeholder="Oslo..." required/>
                <ul class="dropdown-menu from-menu" id="from-menu">
                </ul>
            </div>


            <div class="pt-2 pb-2 float-right col-md-12">
                <img src="../../Content/Images/switchDestinations.png" id="switchDestionations">
            </div>

            <div class="dropdown col-md-12">
                <input type="text" name="DestinationTo" class="destination-dropdown form-control" placeholder="Ski..." required/>
                <ul class="dropdown-menu destination-menu" id="destination-menu">
                </ul>
            </div>

            <div class="col-md-6 mt-2">
                <input type="time" name="TravelTime" class="w-75" required>
            </div>
            <div class="col-md-6 mt-2">
                <input type="date" name="TravelTime" class="w-75" required>
            </div>

        </div>
        <div class="col-md-6">
            <h3 class="text-center"><strong>TIME TABLE</strong></h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Depart</th>
                        <th>Time left</th>
                        <th>Track</th>
                        <th>Train</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>09:00</td>
                        <td>1 min left</td>
                        <td>Track 3</td>
                        <td>L14</td>
                        <td>37,-</td>
                    </tr>
                    <tr>
                        <td>09:00</td>
                        <td>1 min left</td>
                        <td>Track 3</td>
                        <td>L14</td>
                        <td>37,-</td>
                    </tr>
                    <tr>
                        <td>09:00</td>
                        <td>1 min left</td>
                        <td>Track 3</td>
                        <td>L14</td>
                        <td>37,-</td>
                    </tr>
                </tbody>
            </table>
            <p>View more <img src="../../Content/Images/plus-sign.png"></p>
            <p>
                <div>
                    <input id="purchaseBtn" role="button" class="btn btn-primary" type="submit" value="PURCHASE TICKET" />
                </div>
            </p>
        </div>
        <div class="col-md-6">
            <h1>Total passengers:</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <td id="minusAdults"><img role="button" src="../../Content/Images/minus.png"></td>
                        <td class="align-middle">Adults</td>
                        <td id="addAdults"><img role="button" src="../../Content/Images/plus-sign.png"></td>
                        <td class="align-middle" ><input id="adults" name="AdultsTravelling" style="border:none" value="0"/></td>
                    </tr>
                    <tr>
                        <td id="minusChildren"><img role="button" src="../../Content/Images/minus.png"></td>
                        <td class="align-middle">Children</td>
                        <td id="addChildren"><img role="button" src="../../Content/Images/plus-sign.png"></td>
                        <td class="align-middle"><input id="children" name="ChildrenTravelling" style="border:none" value="0" /></td>
                    </tr>
                    <tr>
                        <td id="minusStudents" role="button"><img src="../../Content/Images/minus.png"></td>
                        <td class="align-middle">Students</td>
                        <td id="addStudents" role="button"><img src="../../Content/Images/plus-sign.png"></td>
                        <td class="align-middle"><input id="students" name="StudentsTravelling" style="border:none" value="0" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>