@{ ViewBag.Title = "Home Page"; }

<form class="row" id="purchaseTicketForm">
    <div class="col-md-6 row">
        <h2>Hi Where do you want to travel ?</h2>

        <div class="dropdown col-md-12">
            <input type="text" name="DestinationFrom" class="from-dropdown form-control" placeholder="Oslo..." required />
            <ul class="dropdown-menu from-menu" id="from-menu">
            </ul>
        </div>


        <div class="pt-2 pb-2 float-right col-md-12">
            <img src="../../Content/Images/switchDestinations.png" id="switchDestionations">
        </div>

        <div class="dropdown col-md-12">
            <input type="text" name="DestinationTo" class="destination-dropdown form-control" placeholder="Ski..." required />
            <ul class="dropdown-menu destination-menu" id="destination-menu">
            </ul>
        </div>

        <div class="col-md-6 mt-2">
            <input type="time" name="TravelTime" class="w-75" required>
        </div>
        <div class="col-md-6 mt-2">
            <input type="date" name="TravelDate" class="w-75" required>
        </div>

    </div>
    <div class="col-md-6 table-responsive text-center">
        <h2>Total passengers:</h2>
        <table class="table ">
            <tbody>
                <tr>
                    <td id="minusAdults"><img role="button" src="../../Content/Images/minus.png"></td>
                    <td class="align-middle">Adults</td>
                    <td id="addAdults"><img role="button" src="../../Content/Images/plus-sign.png"></td>
                    <td class="align-middle"><input id="adults" class="text-center" name="AdultsTravelling" style="border:none" value="0" /></td>
                </tr>
                <tr>
                    <td id="minusChildren"><img role="button" src="../../Content/Images/minus.png"></td>
                    <td class="align-middle">Children</td>
                    <td id="addChildren"><img role="button" src="../../Content/Images/plus-sign.png"></td>
                    <td class="align-middle"><input id="children" class="text-center" name="ChildrenTravelling" style="border:none" value="0" /></td>
                </tr>
                <tr>
                    <td id="minusStudents" role="button"><img src="../../Content/Images/minus.png"></td>
                    <td class="align-middle">Students</td>
                    <td id="addStudents" role="button"><img src="../../Content/Images/plus-sign.png"></td>
                    <td class="align-middle"><input id="students" class="text-center" name="StudentsTravelling" style="border:none" value="0" /></td>
                </tr>
            </tbody>
        </table>
        <input id="showTimeTable" role="button" class="btn btn-outline-info" type="submit" value="See available routes" />
    </div>
</form>
<div id="selectRouteForm">
    @{Html.RenderAction("Timetable", "Home"); }
</div>
