@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h1>Hi Where do you want to travel ?</h1>
        
        
        <p>FROM :</p> <input> 
        <p>TO   :</p> <input>
        <p>WHEN: <input> DAY : <input> </p>

    </div>
    <div class="col-md-6">
        <h3 class="text-center"><strong>TIME TABLE</strong></h3>
        <table class="table">
            <thead>
            <tr>
                <th>Depart</th>
                <th>Time left</th>
                <th>Track</th>
                <th>Train</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>09:00</td>
                <td>1 min left</td>
                <td>Track 3</td>
                <td>L14</td>
                <td>37,-</td>
            </tr>
            <tr>
                <td>09:00</td>
                <td>1 min left</td>
                <td>Track 3</td>
                <td>L14</td>
                <td>37,-</td>
            </tr>
            <tr>
                <td>09:00</td>
                <td>1 min left</td>
                <td>Track 3</td>
                <td>L14</td>
                <td>37,-</td>
            </tr>
            </tbody>
        </table>
        <p>View more +</p>
        <p>
            <div>
                <a class="btn btn-default" href="#">PURCHASE TICKET &raquo; @Html.ActionLink("purchase", "purchase", "Home")</a>
            </div>
        </p>
    </div>
    <div class="col-md-4">
        <h1>Total passengers:</h1>
        <table class="table">
            <tbody>
            <tr>
                <td><button>-</button> Adult(s) <button>+</button><texarea>0</texarea></td>
            </tr>
            <tr>
                <td><button>-</button> Children <button>+</button><texarea>0</texarea></td>
            </tr>
            <tr>
                <td><button>-</button> Student(s) <button>+</button><texarea>0</texarea></td>
            </tr>
            </tbody>
            </table>
    </div>
</div>