@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h1>Hi Where do you want to travel ?</h1>
        
        
        <input placeholder="FROM" class="w-100"> 
        <div class="pt-2 pb-2 float-right">
            <img src="../../Content/Images/switchDestinations.png">
        </div>
        <div>
            <input placeholder="TO" class="w-100">
        </div>
        <p class="mt-4"><img src="../../Content/Images/clockicon.png"> <input class="w-25"> <img src="../../Content/Images/cal_icon.png"> <input class="w-25"> </p>

    </div>
    <div class="col-md-6">
        <h3 class="text-center"><strong>TIME TABLE</strong></h3>
        <table class="table">
            <thead>
            <tr>
                <th>Depart</th>
                <th>Time left</th>
                <th>Track</th>
                <th>Train</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>09:00</td>
                <td>1 min left</td>
                <td>Track 3</td>
                <td>L14</td>
                <td>37,-</td>
            </tr>
            <tr>
                <td>09:00</td>
                <td>1 min left</td>
                <td>Track 3</td>
                <td>L14</td>
                <td>37,-</td>
            </tr>
            <tr>
                <td>09:00</td>
                <td>1 min left</td>
                <td>Track 3</td>
                <td>L14</td>
                <td>37,-</td>
            </tr>
            </tbody>
        </table>
        <p>View more <img src="../../Content/Images/plus-sign.png"></p>
        <p>
            <div>
                <a class="btn btn-primary" href="#">PURCHASE TICKET &raquo; @Html.ActionLink("purchase", "Purchase", "Home")</a>
            </div>
        </p>
    </div>
    <div class="col-md-4">
        <h1>Total passengers:</h1>
        <table class="table">
            <tbody>
            <tr>
                <td><img src="../../Content/Images/minus.png"></td>
                <td class="align-middle"><h5>Adult(s)</h5></td>
                <td><img src="../../Content/Images/plus-sign.png"></td>
                <td class="align-middle">0</td>
            </tr>
            <tr>
                <td><img src="../../Content/Images/minus.png"></td>
                <td class="align-middle">Children</td>
                 <td><img src="../../Content/Images/plus-sign.png"></td>
                <td class="align-middle">0</td>
            </tr>
            <tr>
                <td><img src="../../Content/Images/minus.png"></td>
                <td class="align-middle">Student(s)</td>
                 <td><img src="../../Content/Images/plus-sign.png"></td>
                <td class="align-middle">0</td>
            </tr>
            </tbody>
            </table>
    </div>
</div>