@{
    ViewBag.Title = "Purchase";
}

<div class="row">
    <div class="col-md-6">
        <h1>Enter your details rudeboy</h1>
        
        <p>First name :</p> <input> 
        <p>Last name   :</p> <input>    
        <p>Address </p> <input> 
        

    </div>
 
    </div>
  